[requires]
python_version = "3.7"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pyre-check = "*"
pyre-extensions = "*"
ipython = "*"

[packages]
Flask = ">=1.1.1"
SQLAlchemy = "*"
Werkzeug = "*"
psycopg2-binary = "*"
bech32 = "*"
dataclasses-json = "*"
python-dotenv = "*"
cryptography = "*"
client-python-sdk = {git="https://github.com/libra/client-sdk-python.git", editable=true}

[pipenv]
allow_prereleases = true
