venv/
.idea/
/**/__pycache__
/.pyre
/.eggs
dump.rdb
*.egg-info
*flask_session
**/.DS_Store
.env
.env-2
.env-prod
e2e.vars
single.vars
double.vars
build
# Frontend build artifacts
/gateway/tmp

# pyenv local version
.python-version

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
