$font-family-sans-serif: "FreeSans", "Helvetica Neue", Arial;

$body-color: #75767f;
$font-size-base: 0.875rem;

$theme-colors: (
  "black": #000000,
  "default": #eff1f3,
);

$headings-color: #000;
$headings-font-weight: 700;
$headings-line-height: 130%;
$headings-margin-bottom: 1rem;

$primary: #506efa;
$success: #4CAF50;
$danger: #FF331F;
$info: #96a8fc;
$text-muted: $body-color;
$link-color: #506efa;
$component-active-bg: #506efa;
$custom-control-indicator-size: 1.25rem;
$border-radius: 0.5rem;

$btn-font-weight: bold;
$input-bg: #eff1f3;
$input-color: #1A1B29;
$input-placeholder-color: #75767F;
$input-group-addon-bg: #eff1f3;
$input-border-width: 0rem;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1rem;

$dropdown-padding-y: 0;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-color: #000;
$dropdown-link-hover-color: #000;
$dropdown-link-active-color: #000;
$dropdown-link-active-bg: #f5f5f5;

$alert-padding-y: 0.75rem !default;
$alert-padding-x: 1.25rem !default;
$alert-border-level: 0;
$alert-border-radius: $border-radius / 2;

$list-group-border-color: #EFF1F3;