[requires]
python_version = "3.7"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fakeredis = "*"
black = "==19.10b0"
pyre-check = "*"
pyre-extensions = "*"
pytest = "*"
pytest-watch = "*"
ipython = "*"

[packages]
diem-sample-wallet = {editable = true,path = "."}
dramatiq = {extras = ["redis", "watch"],version = "*"}
flask-redis = "*"
redis = "*"
Flask = ">=1.1.1"
Flask-WTF = "*"
WTForms = "*"
flasgger = "*"
importlib-metadata = ">=1.6.0"
aiohttp = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
certifi = "*"
chardet = "*"
click = "*"
cryptography = "*"
entrypoints = "*"
flake8 = "*"
idna = "*"
isort = "*"
itsdangerous = "*"
lazy-object-proxy = "*"
mccabe = "*"
mock = "*"
more-itertools = "*"
multidict = "*"
pluggy = "*"
py = "*"
pycodestyle = "*"
pycparser = "*"
pyflakes = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
pytest-aiohttp = "*"
pytest-httpserver = "*"
requests = "*"
six = "*"
typed-ast = "*"
urllib3 = "*"
wcwidth = "*"
wrapt = "*"
yarl = "*"
zipp = "*"
SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
pyOpenSSL = "*"
Werkzeug = "*"
tox = "*"
numpy = "*"
marshmallow = "*"
apispec = "*"
base58 = "*"
bech32 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
dataclasses-json = "*"
jwcrypto = "*"
reference-utils = {git = "https://49decaaaf2e5c1c77eca2805117a36b3135f2c26@github.com/firstdag/reference-utils.git", editable = true, ref = "LibraMigration"}
libra-offchainreference = "*"
client-python-sdk = {git = "https://49decaaaf2e5c1c77eca2805117a36b3135f2c26@github.com/libra/client-sdk-python.git", editable = true, ref = "diem-migration"}
sqlalchemy-paginator = "*"

[pipenv]
allow_prereleases = true
