$rccs-card-ratio: 1.5858;
$rccs-size: 16rem;

$rccs-name-font-size: 1rem;
$rccs-name-font-family: Consolas, Courier, monospace;
$rccs-number-font-size: 1.15rem;
$rccs-number-font-family: Consolas, Courier, monospace;
$rccs-valid-font-size: 0.65rem;
$rccs-expiry-font-size: 0.9rem;
$rccs-expiry-font-family: Consolas, Courier, monospace;
$rccs-cvc-font-size: 0.9rem;
$rccs-cvc-font-family: Consolas, Courier, monospace;
$rccs-cvc-color: #222;
