@import "../fonts/freesans/style.css";
@import "../../../node_modules/font-awesome/scss/font-awesome";

@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "credit-cards";
@import "../../../node_modules/react-credit-cards/src/styles.scss";

.btn {
  line-height: 1.3;
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    border-color: #eff1f3;
  }
}

.btn-default {
  color: #75767f;
}

html,
body,
#root {
  min-height: 100vh;
}

.slim-section {
  max-width: 310px;
  width: 100%;
}

.container {
  max-width: 600px;
}

.min-h-100 {
  min-height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-capitalize-first::first-letter {
  text-transform: uppercase;
}

.hover {
  .hover-hide {
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;

    .hover-hide {
      opacity: 1;
    }
  }
}

.scrollable-menu {
  height: auto;
  max-height: 25rem;
  overflow-x: hidden;
}

.alert {
  color: $white;
}

$header-height: 3.5rem;

header {
  border-top: 3px solid #6d40ed;
  border-bottom: 1px solid $gray-200;
  text-align: center;
  padding: 1rem;
  height: $header-height;
  background: $body-bg;
}

.header-push {
  height: $header-height;
}

.logo {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}

.modal {
  .modal-content {
    border: 0;
  }
  .modal-body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    .close {
      float: none;
      align-self: flex-end;
    }
  }
}

.form-group {
  .form-text {
    margin: 0 0 0.25rem;
  }
}

@each $state, $data in $form-validation-states {
  $color: map-get($data, color);
  $icon: map-get($data, icon);

  .btn.dropdown-toggle {
    &.is-#{$state} {
      border-color: $color;

      @if $enable-validation-icons {
        padding-right: $input-height-inner;
        background-image: $icon;
        background-repeat: no-repeat;
        background-position: center right $input-height-inner-quarter;
        background-size: $input-height-inner-half $input-height-inner-half;
      }

      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
      }
    }
  }
}

main {
  height: calc(100vh - #{$header-height});
  overflow: auto;
}

nav {
  background: #fcfcfd;
  border-bottom: 1px solid $gray-200;

  .breadcrumb {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;

    .breadcrumb-item {
      a {
        color: inherit;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

.feedback {
  left: 0.5rem;
  bottom: 0.5rem;
  position: fixed;
}
